<h3>Users</h3>
<table class="table table-bordered">
  <thead>
    <tr style="background-color: rgb(194, 187, 187);">
      <th>Name</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.name" placeholder="Name">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.lastname" placeholder="Lastname">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.email" placeholder="Email Id">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.contact" placeholder="Contact Number">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.image" placeholder="Image">
      </td>
      <td>
        <button (click)="insert()">
          <i class="material-icons orange600">add</i>
        </button>

      </td>
    </tr>
  </thead>
  <tbody *ngFor="let item of user | async">
    <tr>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.lastname}}
      </td>
      <td>
        {{item.email}}
      </td>
      <td>
        {{item.contact}}
      </td>
      <td>
        {{item.image}}
      </td>
      <td>
        <button (click)="delete(item)">
          <i class="material-icons orange600">delete</i>
        </button>
        <button (click)="edit(item)">
          <i class="material-icons orange600">create</i>
        </button>
      </td>
    </tr>
    editState: {{editState}}
    <br> itemToUpdate.id: {{itemToUpdate?.id}}
    <br> item.id: {{item?.id}}
    <tr *ngIf="editState && itemToUpdate.id == item.id">
      <td colspan=5>
        <div>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.name" placeholder="Name">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.email" placeholder="Email">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.contact" placeholder="Contact">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.image" placeholder="Image">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.lastname" placeholder="LastName">
            </div>
          </div>
          <p></p>
          <div class="row">
            <div class="col-md-4" style="text-align:left;">
              <button class="btn btn-primary" (click)="update()">
                <i class="material-icons orange600">create</i>
              </button>
              <button (click)="clearState()">
                <i class="material-icons orange600">clear</i>
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>



<td>

</td>
