<div *ngIf="true" class="progress">

    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.porcentaje}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">{{progress.porcentaje}}%
    </div>

    <label class="btn btn-default">
    <input type="file" name="button" id="button" (change)="selectFile($event)">
  </label>

    <button class="btn-btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>

</div>